@charset "UTF-8";

/*
verde: #49a09d
lilas: #5f2c82

min-width -> e aplicada quando a lagura e igual ou mair que o valor Ex.:min-width(largura >= valor.px)
max-width -> e aplicada quando a largura e menor que o valor Ex.: max-width (largura < valor.px)
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: rgb(168, 4, 4);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section.login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%,-50%);
}
section.login > #imagem{
    display: block;
    background: rgb(168, 4, 4) url(../img/img1.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    height: 200px;
}
section.login > #formulario{
    display: block;
    padding: 10px;
}
section.login > #formulario > h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
#formulario{
    text-align: center;
    margin-bottom: 10px;
}
#formulario > form > .campo{
    background-color: #ff0000;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 1px solid #9b0303;
}
#formulario > form > .campo > i{
    color: black;
    font-size: 1.5em;
    width: 40px;
    padding: 5px 0px 0px 12px ;
    margin-left:-11px;

    
}
#formulario > form > .campo > input{
    height: 100%;
    border: none;
    font-size: 0.9em;
    padding: 4px;
    border-radius: 8px;
    width: calc(100% - 33px);
    background-color: #850303;
    transform: translateY(-1px);
    
}
#formulario > form > .campo > input:focus-within{
    background-color: #bd0b0b;
}
.campo > input::placeholder{
    color: rgba(255, 255, 255, 0.589);
}

#formulario > form > .campo > label{
    display: none;
}

#formulario > p{
    font-size: 0.8em;
    text-align: justify;
    margin-bottom: 10px;
}
#formulario > form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#d60909;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#formulario > form > input[type=submit]:hover{
    background-color: rgb(182, 8, 8);
}
#formulario > form > .botao{
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    text-decoration: none;
    border-radius: 7px;
    border: 2px solid #d60909;
    color: black;
    padding-top: 5px;
    margin-top: 5px;
}
#formulario > form > .botao:hover{
    font-weight: bold;
    cursor: pointer;
    color: #d60909;
}
