@charset "UTF-8";

/*
verde: #49a09d
lilas: #5f2c82

min-width -> e aplicada quando a lagura e igual ou mair que o valor Ex.:min-width(largura >= valor.px)
max-width -> e aplicada quando a largura e menor que o valor Ex.: max-width (largura < valor.px)
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: rgb(168, 4, 4);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}
section.login > #imagem{
    display: block;
    background: rgb(168, 4, 4) url(../img/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}
section.login > #formulario{
    display: block;
    padding: 10px;

}