@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to top,#ff0505, #7c0303);
    }
      main > #autor{
        position: absolute;
        text-align: center;
        color: rgba(255, 255, 255, 0.26);
        top: 77%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 15px;
        font-size: 14pt;
    }
    section.login{
        width: 80vw;
        height: 300px;
    }
    section.login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-position:center center;
    }
    section.login > #formulario{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to top,#ff0505, #7c0303);
    }
    main > #autor{
        position: absolute;
        text-align: center;
        color: rgba(255, 255, 255, 0.26);
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 15px;
        font-size: 14pt;
    }
     section.login{
        width: 950px;
        height: 350px;
    }
    section.login > #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section.login > #formulario{
        float: left;
        width: 50%;
    }
    section.login > #formulario > h1{
        color: black;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #formulario > p{
        font-size: 1em;
    }
    #formulario > h1{
        font-size: 2em;
    }
}